<% include ./partials/header %>
<div class = "container">
    <h1>Edit Page</h1>
    <form action = "/campgrounds/<%= campground._id %>?_method=put" method = "post" style = "width:30%; margin: 0 auto; margin-top:30px; ">
        <div class = 'form-group'>
            <input type = "text" placeholder = "campground" name = "name" class = "form-control" value = "<%= campground.name%>">
        </div>
        <div class = 'form-group'>
            <input type = "text" placeholder = "Price" name = "price" class = "form-control" >
        </div>
        <div class = 'form-group'>
            <input type = "text" placeholder = "image url" name = "image" class = "form-control" value = "<%= campground.image %>">
        </div>
        <div class = 'form-group'>
            <input type = "text" placeholder = "Location" name = "location" class = "form-control" >
        </div>
        <div class = 'form-group'>
            
            <textarea type = "text" name="description" style= "width:100%; height:30%;" required><%= campground.description %></textarea>
        </div>
        <div class = "form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
        </div>
        
    </form>
    <div style = "width :30%; margin:0 auto;">
        <a href = "https://app-chirag2706.c9users.io/campgrounds">Go back to main page</a>
    </div>
    
</div>


<% include ./partials/footer %>